<ion-content class="ion-padding">
<form #form="ngForm" (ngSubmit)="signup(form.value)">
  <div class="content"></div>
  <ion-row>
    <ion-col>
      <h1 class="welcome_text">
        {{text.signup_title}}
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p style="color: rgb(82, 82, 82);font-family: 'SF Pro Display';font-weight: 400;">Unete a la familia <b>Troopers</b></p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" style="margin-top: 10.5px !important;">
    <span>Tu Nombre</span>
    </ion-col>
    <ion-col size="8">
      <ion-input type="text" clearInput name="name" ngModel required placeholder="Tu nombre completo"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" style="margin-top: 10.5px !important;">
    <span>Email</span>
    </ion-col>
    <ion-col size="8">
      <ion-input type="email" clearInput name="email" ngModel required placeholder="Ej.- example@hotmail.com"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" style="margin-top: 10.5px !important;">
    <span>Password</span>
    </ion-col>
    <ion-col size="8">
      <ion-input type="password" clearInput name="password" ngModel required placeholder="*******"></ion-input>
    </ion-col>
  </ion-row>
  <br />
  <div class="row">
    <ion-button expand="block" [disabled]="!form.valid" type="submit" color="primary" style="font-family: 'SF Pro Display';font-weight: 400;position: relative;text-align: center;">
      <ion-icon name="person-add" style="position: absolute;left: 10px;border-right: 1px solid #c3c3c3;padding-right: 5px;"></ion-icon> <span class="capitalize" style="font-size: 14px;">{{ text.signup_button }}</span>
    </ion-button>
  </div>
</form>

<ion-row>
  <ion-col>
    <div class="row" style="border-top: 1px solid #cecece;padding-top: 12px;">
      <ion-button expand="block" (click)="fbSignup()" style="--background: #3b5998 !important;font-family: 'SF Pro Display';font-weight: 400;position: relative;">
        <ion-icon name="logo-facebook" style="position: absolute;left: 10px;border-right: 1px solid #c3c3c3;padding-right: 5px;"></ion-icon> <span class="capitalize" style="position: absolute;left: 75px;font-size: 14px;">Registrate con Facebook</span>
      </ion-button>
    </div>
  </ion-col>
  
</ion-row>

<br />
<ion-row>
  <ion-col>
    <div style="text-align: center;">
      <small style="color: rgb(31, 31, 31);font-family: 'SF Pro Display', 'normal';font-weight: 100;">
        Al hacer clic en Registrarse, creará una cuenta y aceptará nuestros <b>términos de servicio</b> y <b>política de privacidad</b>
      </small>
    </div>
  </ion-col>
</ion-row>
</ion-content>

<ion-footer style="padding: 15px;text-align: center;">
  <ion-label color="medium"  mode="ios" routerLink="/login" routerDirection="back">Ya tienes una cuenta? <b>Inicia Sesión</b></ion-label> 
</ion-footer>
  