
<ion-content>
  <div style="margin-top: 25px;">
    <ion-card-header>
      <ion-row>
        <ion-col size="7">
          <img src="../../assets/locked.jpg" alt="">
        </ion-col>
        <ion-col size="5">
          <h1 class="welcome_text">
            !Oops<br />
            Cuenta Bloqueada
          </h1>
        </ion-col>
      </ion-row>
      <p style="color: rgb(85, 85, 85);font-family: 'SF Pro Display';font-weight: 400;font-style: normal;font-size: 14px;">
        Tu cuenta está bloqueada, por favor comunícate con soporte en: 
      </p>
    </ion-card-header>
      
    <p align="center" style="font-family: 'SF Pro Display';font-weight: 400;font-style: normal"><a href="https://carmenapp.com/soporte">Soporte Tecnico</a></p>
  
</div>
</ion-content>