.border_bottom
{
	border-bottom:1px solid #f3f3f3;
	
}

.border_bottom_only
{
	border-bottom:1px solid #f3f3f3;
	padding:10px 10px 10px 10px;
}

.fontSize
{
	font-size:13px;
}

.pic_menu {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position:center;
	overflow: hidden;
}