<ion-content class="ion-padding" transparent>

<form #form="ngForm" (ngSubmit)="login(form.value)" style="margin-top: 15px;">

  <ion-row>
    <ion-col>
      <h1 class="welcome_text">
       {{text.login_title}}
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col><p style="color: rgb(82, 82, 82);font-family: 'SF Pro Display';font-weight: 400;">Inicia Sesión para continuar</p>    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" style="margin-top: 10.5px !important;">
     <span>Email</span>
    </ion-col>
    <ion-col size="9">
      <ion-input type="email" clearInput  [(ngModel)]="email" required name="email" placeholder="example@example.com"></ion-input>
    </ion-col>
  </ion-row>
  

  <ion-row>
    <ion-col size="3" style="margin-top: 10.5px !important;">
     <span>Password</span>
    </ion-col>
    <ion-col size="9">
      <ion-input type="password" clearInput [(ngModel)]="password" required name="password" placeholder="*********"></ion-input>
    </ion-col>
  </ion-row>
  <br />
  <ion-row>
    <ion-col size="12" >
      <a routerLink="/forgot" routerDirection="forward" style="color: rgb(160, 23, 23) !important;font-family: 'SF Pro Display';font-weight: 400;float: right;">
        {{text.login_forgot_password}}
      </a>
    </ion-col>
  </ion-row>
  <br />
  <div class="row">
    <ion-button color="primary" expand="block" type="submit" style="font-family: 'SF Pro Display';font-weight: 400;position: relative;text-align: center;">
      <ion-icon name="log-in" style="position: absolute;left: 10px;border-right: 1px solid #c3c3c3;padding-right: 5px;"></ion-icon> <span class="capitalize" style="font-size: 14px;">{{text.login_button}}</span>
    </ion-button>
  </div>
</form>

<ion-row>
  <ion-col>
    <div class="row" style="border-top: 1px solid #cecece;padding-top: 12px;">
      <ion-button expand="block" (click)="fbLogin()" style="--background: #3b5998 !important;font-family: 'SF Pro Display';font-weight: 400;position: relative;">
        <ion-icon name="logo-facebook" style="position: absolute;left: 10px;border-right: 1px solid #c3c3c3;padding-right: 5px;"></ion-icon> <span class="capitalize" style="position: absolute;left: 75px;font-size: 14px;">Entrar con Facebook</span>
      </ion-button>
    </div>
  </ion-col>  
</ion-row>

</ion-content>

<ion-footer style="padding: 15px;text-align: center;" *ngIf="isKeyboardHide">
  <ion-label color="medium"  mode="ios" routerLink="/signup" routerDirection="forward">No tienes una cuenta? <b>Registrate</b></ion-label> 
</ion-footer>