.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  
}

p
{
	padding:10px 2px;
}

.trend
{
	margin-top:-25px;
}
ion-backdrop {
      opacity: 0.3;
    }

  
// Items Regulares

.AllElements {
  text-align: center;

.regular-items {
  text-align: left;
  position: relative;
  display: inline-block;
  -webkit-justify-content: center;
  justify-content: center;
}
  padding-bottom: 15px;

  a {
    text-decoration: none;

    h3 {
      color: #000;
      font-weight: 700;
      font-size: 18px;
      padding-left: 10px;
    }

    small {
      color: rgb(98, 98, 98);
      font-size: 13px;
      padding-left: 10px;
    }
  }

  .wrap-img-items {
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;    
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      top: 0;left: 0;
      width: 100%;
      height: 160px;
      background: rgb(1,1,1);
      background: linear-gradient(0deg, rgba(1,1,1,1) 10%, rgba(255,255,255,0) 98%);
      z-index: 1;
    }

    .text {
      position: absolute;
      bottom: 0;
      padding: 10px 0;
      z-index: 50;

      h3 {
        color: #fff;
        max-width: 250px;
      }

      small {
        color: #fff;
      }
    }
  }

  .Abierto {
    color: #08a82a;
  }

  .Cerrado {
    color: red;
  }

  #info-card {
    .info {
      ion-grid  {
        ion-row  {
          ion-col {
            text-align: center;
            font-size: 12px;
            font-family: 'SF Pro Display';
            font-weight: 400;
            color: #4c4c4c;
            display: inline-block;

            strong {
              font-size: 10px;
              padding-bottom: 3px;
              display: block;
            }
          }
        }
      }
    }
  }

  .raiting {
    position: absolute;
    bottom: 10px;right: 10px;
    padding: 2px 5px;
    background-color:#FF9505;
    color: #fff;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    border-radius: 6px;
    z-index: 50;
  }

}

.wrap_info {
  position: relative;

  ion-badge {
    position: absolute;
    top: 5px;right: 5px;
    padding: 4px 8px;
    background-color:#FF9505;
    color: #fff;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 11px;
    border-radius: 6px;
    z-index: 50;
  }
}


.recentItems  {
    
      a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    
        h2 {
          color: #000;
          font-weight: 700;
        }
    
        small {
          color: rgb(98, 98, 98);
        }
    
        h3 {
          color: rgb(98, 98, 98);
        }
      }
    
      .Abierto {
        color: #08a82a;
      }
    
      .Cerrado {
        color: red;
      }
    
      h3 {
        font-family: 'Open Sans', sans-serif;
        color: #000 !important;
      }
    
      .wrap-img-recents {
        width: 100%;
        height: 100px;
        overflow: hidden;
      }
    
      ion-label {
        .info {
          span {
            width: 100%;
            font-size: 11px;
            color: #4c4c4c;
            display: inline-block;
    
            .pl-10 {
              padding-left: 10px;
            }
    
            strong {
              font-size: 10px;
              padding-bottom: 3px;
              display: block;
            }
          }
        }
      }
    
      .raiting {
        position: absolute;
        left: 5px;top: 5px;
        z-index: 100;
        padding: 2px 5px;
        background-color:#FF9505;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        border-radius: 8px;
      }
    
    
}
    
.img_radius {
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  
  .tag_close {
    position: absolute;
    top: -2%;left: 0;
    width: 100%;
  }
}


.lastdisches {
  -webkit-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.28);
  -moz-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.28);
  box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.28);
}

// Tipos de comida
.kind_food {

  .swiper-container {
    box-shadow: 0 !important;
    background-color: #fff;
    border: 0 !important;
    padding: 15px 0;
    width: 100%;
    height: 100%;
  }

  .wrap-img-kindfood {
    width: 120px;
    height: 80px;
    background-size: cover;
    background-position: center; 
    position: relative;
    border-radius: 10px;
    .wrap-box-kf {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;left: 0;
      background-color: rgba(43,40,38,0.4);
      border-radius: 10px;
      h6 {
        color: rgb(246, 246, 246);
        position: absolute;
        left: 0;right: 0;
        margin:28px auto;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.tag_close {
  position: absolute;
  top: -8px;left: 0;
  width: 100%;

}